SERVER_NAME=server-01.decall.app
CERTBOT_EMAIL=you@example.com
API_PORT=8080
API_HOST_PORT=8080
AUTH_DOMAIN=https://decall.app
CORS_ORIGINS=https://decall.app
CHALLENGE_TTL_SEC=300

# openssl rand -hex 32
TURN_SECRET=
TURN_HOST=server-01.decall.app
TURN_REALM=server-01.decall.app
EXTERNAL_IP=
TURN_TLS=true
TURN_CREDENTIAL_TTL_SEC=86400
